<div class="m-backdrop"></div>

<div class="m-content event">

  <div><button type="button" class="close pull-right">&times;</button></div>
  <h3 class="heading"></h3>
  <br>

  <form>
    <label>Group</label>
    <select name="event[group_id]">
      <% groups.forEach(function (group) { %>
        <% if (group.id != ssevent.escape("group_id")) { %>
          <option value="<%= group.id %>"><%= group.name %></option>
        <% } else { %>
          <option value="<%= group.id %>" selected><%= group.name %></option>
        <% } %>
      <% }) %>
    </select>
    <br>
    <br>

    <label>Title</label>
    <input class="form-control" type="text" name="event[title]" value="<%= ssevent.escape("title") %>">
    <br>

    <label>When</label>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker1">
                        <input type="text" class="form-control" id="datetime" value="<%= moment(ssevent.escape("datetime")) %>"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function () {
                    $('#datetimepicker1').datetimepicker();
                });
            </script>
        </div>
    </div>
    <br>

    <label>Where</label>
    <input class="form-control" type="text" name="event[location]" value="<%= ssevent.escape("location") %>">
    <br>

    <label>Description</label>
    <textarea name="event[description]" class="form-control"><%= ssevent.escape("description") %></textarea>

    <br>
    <input type="submit" class="submit btn pull-right">
  </form>

  <div class="errors"></div>

</div>
