<div class="m-backdrop"></div>

<div class="m-content event">

  <div><button type="button" class="close pull-right">&times;</button></div>
  <h3 class="heading"></h3>
  <br>

  <form>
    <label>Group</label>
    <select name="event[group_id]">
      <% groups.each(function (group) { %>
        <% if (group.id != event.escape("group_id")) { %>
          <option value="<%= group.id %>"><%= group.escape("name") %></option>
        <% } else { %>
          <option value="<%= group.id %>" selected><%= group.escape("name") %></option>
        <% } %>
      <% }) %>
    </select>
    <br>
    <br>

    <label>Title</label>
    <input class="form-control" type="text" name="event[title]" value="<%= event.escape("title") %>">
    <br>

    <label>When</label>
    <input class="form-control" type="datetime" name="event[datetime]" value="<%= event.escape("datetime") %>">
    <br>

    <label>Where</label>
    <input class="form-control" type="text" name="event[location]" value="<%= event.escape("location") %>">
    <br>

    <label>Description</label>
    <textarea name="event[description]" class="form-control"><%= event.escape("description") %></textarea>

    <br>
    <input type="submit" class="submit btn pull-right">
  </form>

  <div class="errors"></div>

</div>
