<div class="m-backdrop"></div>

<div class="m-content event">

  <h3>New Event<button type="button" class="close pull-right">&times;</button></h3>
  <br>

  <form>
    <label>Group</label>
    <select name="event[group_id]">
      <% groups.each(function (group) { %>
        <option value="<%= group.id %>"><%= group.escape("name") %></option>
      <% }) %>
    </select>
    <br>
    <br>

    <label>Title</label>
    <input class="form-control" type="text" name="event[title]" value="<%= event.escape("title") %>">
    <br>

    <label>When</label>
    <input class="form-control" type="datetime" name="event[datetime]" value="<%= event.escape("date") %>">
    <br>

    <label>Where</label>
    <input class="form-control" type="text" name="event[location]" value="<%= event.escape("location") %>">
    <br>

    <label>Description</label>
    <textarea name="event[description]" class="form-control" value="<%= event.escape("description") %>"></textarea>

    <br>
    <input type="submit" class="submit btn btn-primary pull-right">
  </form>

  <div class="errors"></div>

</div>
