<button class="eventsIdx">Back to <%= group.escape("name") %>'s Events</button>
<br>
<button class="edit"></button>
<br>
<h2><%= event.escape("title") %></h2>
<%= event.escape("datetime") %>
<br>
<%= event.escape("location") %>
<br>
<%= event.escape("description") %>
<br>
<div id="attending-button"></div>
