<h3>New Group</h3>

<form action="<%= groups_url %>" method="post">
  <input type="hidden" name="authenticity_token"
                       value="<%= form_authenticity_token %>" >
  <input type="hidden" name="group[creator_id]" value="<%= current_user.id %>">
  <label for="name">Name</label>
  <input type="text" id="name" name="group[name]" value="<%= @group.name %>">
  <label for="description">Description</label>
  <input type="textarea" id="description" name="group[description]" value="<%= @group.description %>">

  <input type="submit">
</form>
