<form action="<%= url %>" method="post">
  <input type="hidden" name="authenticity_token"
                       value="<%= form_authenticity_token %>" >
  <label>Username</label>
  <input type="text" name="<%= type %>[username]" value="<%= instance.username %>"></input>
  <br>
  <label>Password</label>
  <input type="password"name="<%= type %>[password]" value="<%= instance.password %>"></input>
  <br>

  <input type="submit" value="<%= submit_value %>"></input>
</form>
<br>
<%= flash[:errors] if flash[:errors] %>
