<form action="<%= url %>" method="post">
  <input type="hidden" name="authenticity_token"
                       value="<%= form_authenticity_token %>" >
  <label>Username</label>
  <input type="text" name="<%= type %>[username]" value="<%= instance.username %>"></input>
  <br>
  <label>Password</label>
  <input type="password"name="<%= type %>[password]" value="<%= instance.password %>"></input>
  <br>

  <% if type == "user" %>
    <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
    <input type="filepicker" name="user[filepicker_url]" data-fp-button-text="Upload Photo" data-fp-apikey="Abm0dWPxnTQq5GImNFmOIz" data-fp-mimetypes="image/*" data-fp-container="modal" data-fp-maxsize="15M" data-fp-store-location="s3" data-fp-services="CLOUDDRIVE,COMPUTER,DROPBOX,FACEBOOK,GITHUB,GOOGLE_DRIVE,FLICKR,GMAIL,INSTAGRAM,SKYDRIVE,IMAGE_SEARCH,URL,WEBCAM">
    <br>
  <% end %>

  <input type="submit" value="<%= submit_value %>"></input>
</form>
<br>
<%= flash[:errors] if flash[:errors] %>
