<form action="<%= url %>" method="post">
  <input type="hidden" name="authenticity_token"
                       value="<%= form_authenticity_token %>" >
  <label>Username</label>
  <input type="text" name="<%= type %>[username]" value="<%= instance.username %>"></input>
  <br>
  <label>Password</label>
  <input type="password"name="<%= type %>[password]" value="<%= instance.password %>"></input>
  <br>

  <% if type == "user" %>
    <button class="photo-upload btn btn-primary form-control">Upload Photo</button>
    <input class="save-photo" type="hidden" name="name[photo_url]" value="<%= name.photo_url %>">
    <br>
  <% end %>

  <input type="submit" value="<%= submit_value %>"></input>
</form>
<br>
<%= flash[:errors] if flash[:errors] %>
