<div class="signin">

  <div id="signin-background">
    <!-- <audio id="music" src="../../assets/audio/enter.mp3"></audio> -->
  </div>

  <div class="backdrop"></div>


  <form class="user-form pull-left" action="<%= url %>" method="post">
    <input type="hidden" name="authenticity_token"
                         value="<%= form_authenticity_token %>" >

    <div class="signin-logo">SuperSociety</div>
    <div class="opener">Your exclusive access to the hottest events in the superhero community.</div>

    <input type="text" class="form-control" name="<%= type %>[username]"
           value="<%= instance.username %>" placeholder="username"></input>
    <input type="password" class="form-control" name="<%= type %>[password]"
           value="<%= instance.password %>" placeholder="password"></input>

    <input type="submit" class="btn form-control" value="Log In"
           name="submission" id="log-in"></input><input type="submit"
           class="btn form-control" value="Sign Up"
           name="submission" id="sign-up"></input>
   <input type="submit" class="btn form-control" value="Guest Pass"
          name="submission" id="guest">
  </form>
  <div class="errors">
    <%= flash[:errors] if flash[:errors] %>
  </div>
</div>
