<form class="user-form" action="<%= url %>" method="post">
  <input type="hidden" name="authenticity_token"
                       value="<%= form_authenticity_token %>" >
  <label>Username</label>
  <input type="text" class="form-control" name="<%= type %>[username]"
         value="<%= instance.username %>"></input>
  <br>
  <label>Password</label>
  <input type="password" class="form-control"
         name="<%= type %>[password]" value="<%= instance.password %>"></input>
  <br>
  <input type="submit" class="btn btn-danger form-control" value="Sign Up"
         name="submission"></input><input type="submit"
         class="btn btn-danger form-control" value="Log In"
         name="submission"></input>
</form>
<br>
<%= flash[:errors] if flash[:errors] %>
