<h3>New Event</h3>

<form action="<%= events_url %>" method="post">
  <input type="hidden" name="authenticity_token"
                       value="<%= form_authenticity_token %>" >

  <label>Group</label>
  <select name="event[group_id]">
    <% current_user.managed_groups.each do |group| %>
      <option value="<%= group.id %>"><%= group.name %></option>
    <% end %>
  </select>
  <br>

  <label>Title</label>
  <input type="text" name="event[title]" value="<%= @event.title %>">
  <br>

  <label>Date</label>
  <input type="date" name="event[date]" value="<%= @event.date %>">
  <br>

  <label>Time</label>
  <input type="time" name="event[time]">
  <br>

  <label>Location</label>
  <input type="text" name="event[location]" value="<%= @event.location %>">
  <br>

  <label>Description</label>
  <input type="textarea" name="event[description]" value="<%= @event.description %>">

  <input type="submit">
</form>
