<!DOCTYPE html>
<html>
<head>
  <title>SuperSociety</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <script type="text/javascript">
        window.currentUserManagedGroupIds = "<%= current_user.managed_group_ids %>"
    </script>
    <%= current_user.username %>
    <%= button_to "Sign Out", session_url, :method => :delete %>
  <% else %>
    <script type="text/javascript">
        window.currentUserManagedGroupIds = "<%= [] %>"
    </script>
    <% if request.env['PATH_INFO'] != "/enter/new" && request.env['PATH_INFO'] != "/enter" %>
      <%= link_to "Sign In", new_user_url %>
      <%= link_to "Sign Up", new_user_url %>
    <% end %>
  <% end %>

  <%= yield %>

</body>
</html>
