<!DOCTYPE html>
<html>
<head>
  <title>SuperSociety</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans' rel='stylesheet' type='text/css'>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_SETTINGS = {
      cloud_name: "<%=ENV["CLOUD_NAME"]%>",
      upload_preset: "<%=ENV["UPLOAD_PRESET"]%>",
      theme: "white"
    };
  </script>
</head>
<body>

  <% if current_user %>
    <script type="text/javascript">
        window.CURRENT_USER_ID = "<%= current_user.id %>"
    </script>
  <% end %>

  <%= yield %>

</body>
</html>
