<!DOCTYPE html>
<html>
<head>
  <title>SuperSociety</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_SETTINGS = {
      cloud_name: "<%=ENV["CLOUD_NAME"]%>",
      upload_preset: "<%=ENV["UPLOAD_PRESET"]%>",
      theme: "white",
    };
  </script>
</head>
<body>

  <% if current_user %>
    <script type="text/javascript">
        window.CURRENT_USER_ID = "<%= current_user.id %>"
        window.currentUserManagedGroupIds = "<%= current_user.managed_group_ids %>"
    </script>
  <% else %>
    <script type="text/javascript">
        window.currentUserManagedGroupIds = "<%= [] %>"
    </script>
  <% end %>

  <script>
      if (window.currentUserManagedGroupIds !== undefined) {
        SuperSocietyApp.currentUserManagedGroups = new SuperSocietyApp.Collections.Groups();
        var groupIds = JSON.parse(currentUserManagedGroupIds);
        groupIds.forEach(function (id) {
          var groupModel = new SuperSocietyApp.Models.Group({ id: id });
          SuperSocietyApp.currentUserManagedGroups.add(groupModel);
        });
      }
  </script>

  <%= yield %>

</body>
</html>
